.container__image-select {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: 00000 transparent;
}

.container__image-select > button {
  outline: 0;
  border: 0;
}

.image-select_remove {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 15%);

  color: white;
  background-color: #00000023;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.image-select__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-select__btn {
  width: 100%;
  height: 100%;

  color: 000000;
  background-color: #c5c5c571;
}
